<section>
    <div class="container pt-5 ">
      <div class="row featured-p">
        <div class="col-md-12 text-center pb-5">
          <h2>Propiedades destacadas</h2>
        </div>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
        <%= render "layouts/featured-propertiesitem" %>
      </div>
    </div>
</section>