<a class="featured-properties__link" href="http://localhost:3000/property/index.html">
    <div class="col-md-4 featured-p__box">
        <div class="card featured-p__box-image--box mb-4">
          <img src="<%= asset_path('thumbnail_property') %>" alt="">
          <div class="featured-p__box-image--tags">VENTA</div>
          <div class="featured-p__box-image--price">$3,000,000</div>
        </div>
        <div class="card featured-p__box--card mb-4">
          <div class="card-body featured-p__box--card-body d-flex flex-column">
            <strong class="mb-0">
              <a class="text-dark" href="#">Casa en Hipódromo Condesa, Cuahutemoc.</a>
            </strong>
            <ul class="list-inline featured-p__ul">
              <li class="featured-p__li list-inline-item"><img class="featured-p__img" src="<%= asset_path('bed') %>" alt=""> 3</li>
              <li class="featured-p__li list-inline-item"><img class="featured-p__img" src="<%= asset_path('shower') %>" alt=""> 3</li>
              <li class="featured-p__li list-inline-item"><img class="featured-p__img" src="<%= asset_path('car') %>" alt=""> 3</li>
              <li class="featured-p__li list-inline-item"><img class="featured-p__img" src="<%= asset_path('cross') %>" alt=""> 300 sq-ft.</li>
            </ul>
          </div>
        </div>
    </div>
</a>